<div class="one">
  <div class="overlay"></div>
  <video
    playsinline="playsinline"
    autoplay="autoplay"
    muted="muted"
    loop="loop"
    preload="auto"
  >
    <source src="/assets/img/mission2.mp4" type="video/mp4" />
  </video>
  <div class="d-flex w-100 h-100">
    <div class="w-100 my-auto">
      <div class="medcadre-container">
        <h1>Healthcare Network</h1>
        <p class="title-desc">
          Join our world class network of healthcare <br />
          providers and facilities solving patient care shortages.
        </p>
        <div>
          <a href="https://calendly.com/joe-medcadre" target="_blank"><button class="btn btn-red">
            Schedule a Time
            <img
              src="/assets/img/home/icon_arrow_right_white.svg"
              class="icon-arrow-right"
            />
          </button></a>
        </div>
        <div class="starttext">
          <button class="btn btn-white" (click)="start_text()">
            Start a Text
            <img
              src="/assets/img/home/icon_arrow_right_red.svg"
              class="icon-arrow-right"
            />
          </button>
        </div>
        <button class="anchor" (click)="scrollToElement(target)"></button>
      </div>
    </div>
  </div>
</div>
<div #target class="medcadre-container medcadre-content">
  <h1 class="with-hyper">Gig Economy Medical Staffing</h1>

  <div class="sub-title">Practice medicine with pure profit & no overhead.</div>
  <p>
    There is a critical shortage of healthcare providers in the United States.
    In many markets and areas of practice, the supply of doctors is not
    sufficient to meet patient needs.
  </p>

  <button class="btn btn-white btn-learnmore">
    Learn More
    <img
      src="/assets/img/home/icon_arrow_right_red.svg"
      class="icon-arrow-right"
    />
  </button>

  <h1 class="with-hyper trust-title">Healthcare Networks That Trust Us</h1>
  <div class="sub-title">We help manage workforce supply & demand.</div>
  <p>
    Locum tenens facilitates a balance of supply and demand in healthcare workforce. Clients looking to hire a healthcare provider are no longer confined to their local talent pool.
  </p>
  <button class="btn btn-white btn-learnmore">
    Learn More
    <img
      src="/assets/img/home/icon_arrow_right_red.svg"
      class="icon-arrow-right"
    />
  </button>
  <div class="contributors">
    <img src="/assets/img/home/logo__aya.jpg" alt="aya" />
    <img src="/assets/img/home/logo__cross_country.jpg" alt="aya" />
    <img src="/assets/img/home/logo__envision.jpg" alt="aya" />
    <img src="/assets/img/home/logo__quorum.jpg" alt="aya" />
    <img src="/assets/img/home/logo__locummart.jpg" alt="aya" />
    <img src="/assets/img/home/logo__catholic_health.jpg" alt="aya" />
    <img src="/assets/img/home/logo__wellspan.jpg" alt="aya" />
    <img src="/assets/img/home/logo__covenant.jpg" alt="aya" />
    <img src="/assets/img/home/logo__tenet.jpg" alt="aya" />
    <img src="/assets/img/home/logo__providence.jpg" alt="aya" />
  </div>
</div>
