<!--The content below is only a placeholder and can be replaced.-->
<ngp-lightbox></ngp-lightbox>
<div class="head-wrap">
  <header>
      <a href="https://www.atlconventioncenter.com?hsLang=en" class="logo"><img src="../assets/images/logo.svg" alt="Atlanta Convention Center"></a>

      <a href="#" class="nav-toggle"><fa-icon [icon]="faBars"></fa-icon></a>
  </header>
  <nav>
      <ul>
        <li><a class="nav-link" routerLink="/" routerLinkActive="active-menu">Home</a></li>
        <li><a class="nav-link" routerLink="/mission" routerLinkActive="active-menu">Mission</a></li>
      </ul>
  </nav>
</div>
<router-outlet></router-outlet>
